{%load static%}
<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <h2>Sobre Nós</h2>
      </div>

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="{% static 'assets/img/slide/cel5.jpg'%}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>Um cuidado especializado para seu dia a dia</h3>
          <p>
            Bem-vindo(a) à Cia Sênior Cuidar, uma equipe comprometida em oferecer cuidados integrais e especializados para idosos com amor, respeito e dedicação. Acreditamos que cada pessoa merece envelhecer com dignidade e qualidade de vida, e é por isso que nos dedicamos a proporcionar um ambiente acolhedor e seguro para nossos idosos e suas famílias.
          </p>

          <h3>Nossa Missão</h3>
          
          <p> Nossa missão é promover o bem-estar físico, emocional e social dos idosos, proporcionando um atendimento de excelência que respeita suas individualidades e necessidades únicas. Buscamos ir além do cuidado básico, estabelecendo relações significativas com cada residente, promovendo a independência sempre que possível e garantindo que eles se sintam valorizados e amados. </p>
          
          <h3>Valores Fundamentais</h3>

          <p><strong>Empatia:</strong> Colocamos-nos no lugar de cada idoso e de suas famílias, buscando compreender suas necessidades e desejos individuais.</p>

          <p><strong>Respeito:</strong> Valorizamos a história, a sabedoria e as escolhas de vida de cada idoso, assegurando-lhes respeito e dignidade em todos os momentos.</p>

          <p><strong>Ética:</strong> Pautamos nossa atuação em princípios éticos e de responsabilidade, garantindo a transparência e a honestidade em todas as interações.</p>

          <p><strong>Inovação:</strong> Buscamos constantemente aprimorar nossos métodos e práticas, incorporando as melhores abordagens e tecnologias disponíveis no cuidado ao idoso.</p>

          <p><strong>Comunidade:</strong> Encorajamos a criação de uma comunidade afetuosa e solidária, onde os idosos se sintam pertencentes e apoiados.</p>
        </div>
      </div>

    </div>
  </section>