<section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contato</h2>
        <p>Entre em contato com nossa equipe para Agendar sua visita Domiciliar e Solicitar seu orçamento.</p>
      </div>

      {% comment %} <div class="row">

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Local:</h4>
              <p>Joao Pessoa/ Sem espaço Físico</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>contato.seniorcuidar@seniorcuidar.com.br</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Telefone:</h4>
              <p>8333319774</p>
            </div>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126682.34272559104!2d-34.96399995024002!3d-7.146431197317946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ace839019aa3d7%3A0x6e414a9c6d26db34!2sJo%C3%A3o%20Pessoa%2C%20PB!5e0!3m2!1spt-BR!2sbr!4v1690393041935!5m2!1spt-BR!2sbr" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            <div id="form"></div>
          </div>

        </div> {% endcomment %}

        
        
        <div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch">

          <form  action="" method="POST" role="form" class="php-email-form">
            {% csrf_token %}
            {% if messages %}
                <ul  class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color:green;">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if errors %}
                <ul class="errorlist">
                    {% for field_errors in errors.values %}
                        {% for error in field_errors %}
                            <li style="color:red;">{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
            
            <div class="row">
            
              
              <div class="form-group col-md-6">
                <label for="name">Seu Nome</label>
                {{form.name}}
              </div>
              <div class="form-group col-md-6 mt-3 mt-md-0">
                <label for="name">Seu Email</label>
                {{form.email}}
              </div>
              <div class="form-group col-md-6 mt-3 mt-md-0">
                <label for="necessidade">* Selecione um Opção *: </label>
                {{form.tipo}}
              </div>
              <div class="form-group col-md-6 mt-3 mt-md-0">
                <label for="necessidade">* Selecione a Cidade *: </label>
                {{form.cidade}}
              </div>
            </div>
            <div class="form-group mt-3">
              <label for="name">Telefone</label>
              {{form.phone}}
            </div>
            <div class="form-group mt-3">
              {{form.message}}
            </div>
            
            <div class="text-center"><button type="submit">Enviar</button></div>
          </form>
        </div>

      </div>

    </div>
  </section>