<section id="featured-services" class="featured-services section-bg">
    <div class="container">

      <div class="row no-gutters">
        <div class="col-lg-4 col-md-6">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-house"></i></div>
            <h4 class="title"><a href="">Cuidado Domiciliar 24h</a></h4>
            <p class="description">Dispomos de Cuidadores treinados e qualificados por meio de plantões de 6hrs, 12hrs e 24hrs.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-people"></i></div>
            <h4 class="title"><a href="">Serviço Concierge</a></h4>
            <p class="description">Serviço Concierge consiste no acompahamento de idosos e pessoas adultas nas atividades de vida diária, como: Ir ao mercado, exames de rotina, parque, shopping e muito mais.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-clipboard-heart"></i></div>
            <h4 class="title"><a href="">Metodologia Aging in Place</a></h4>
            <p class="description">O método escolhido pela C&A Sênior Cuidar foi inspirado no concoite Americano de cuidado, que tem o objetivo de oferecer um cuidado integral ao paciente em seu domicílio.</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Featured Services Section -->

  <section id="featured-services" class="featured-services section-bg">
    <div class="container">

      <div class="row no-gutters">
        <div class="col-lg-4 col-md-6">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-book"></i></div>
            <h4 class="title"><a href="">Cursos</a></h4>
            <p class="description">Cursos de Atualização para cuidadores e familiares, Curso de cuidados específicos a pacientes com doença de Alzeheimer. </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-search"></i></div>
            <h4 class="title"><a href="">Consultoria</a></h4>
            <p class="description">Serviço voltado para residenciais Seniors e instituições de longa permanência.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-display"></i></div>
            <h4 class="title"><a href="">Telemonitoramento</a></h4>
            <p class="description">Telemonitoramento é voltado principalmente para pacientes com doenças cronicas que precisam de um suporte 24hrs pela equipe de enfermagem e multidisciplinar.</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Featured Services Section -->
  <a type="button" class="btn btn-primary btn-lg cta-button" href="#contact">Entre em contato Já.</a>
