{%load static%}
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">
      <img id="logo" src="{% static 'assets/img/logo.png'%}" alt="idoso"   class="logo_img img-fluid">

      <h1 class="logo me-auto"><a href="#"> <br> </a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'home_page' %}">Início</a></li>
          <li><a class="nav-link scrollto" href="#about">Sobre</a></li>
          <li><a class="nav-link scrollto" href="#featured-services">Serviços</a></li>
          {% comment %} <li><a class="nav-link scrollto " href="{% url 'home_page' %}">Portfolio</a></li> {% endcomment %}
          <li><a class="nav-link scrollto" href="#contact">Contato</a></li>
          <li><a class="nav-link scrollto" href="{% url 'blog' %}">Blog</a></li>
          <li><a class="getstarted scrollto" href="#contact">Solicite seu Orçamento</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->