{%extends 'base.html'%}

{%block 'content'%}
    <!-- ======= Featured Services Section ======= -->
    {% include 'feature_services.html'%}

    <!-- About Us Section -->
    {% include 'about_us.html'%}
    <!-- ======= Why Us Section ======= -->
    {% include 'why_us.html'%}
    <!-- End Why Us Section -->

    <!-- ======= Our Clients Section ======= -->
    {% include 'clients.html'%}
    <!-- End Our Clients Section -->

    <!-- ======= Services Section ======= -->
    <!-- End Services Section -->
    {% include 'services.html'%}
    <!-- ======= Cta Section ======= -->
    {% include 'cta.html'%}
    <!-- End Cta Section -->

    <!-- ======= Portfolio Section ======= -->
    {% include 'portfolio.html'%}
    <!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    {% include 'team.html'%}
    <!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    {%include 'contact.html'%}
    <!-- End Contact Section -->

  </main><!-- End #main -->
{%endblock%}
