{%extends 'base.html'%}

{%block 'content'%}

    {% include 'hero_section.html'%}

    <!-- ======= Featured Services Section ======= -->
    {% include 'feature_services.html'%}

    <!-- About Us Section -->
    {% include 'about_us.html'%}
    <!-- ======= Why Us Section ======= -->
    {% comment %} {% include 'why_us.html'%} {% endcomment %}
    <!-- End Why Us Section -->

    <!-- ======= Our Clients Section ======= -->
    {% include 'clients.html'%}
    <!-- End Our Clients Section -->

    <!-- ======= Services Section ======= -->
    <!-- End Services Section -->
    {% comment %} {% include 'services.html'%} {% endcomment %}
    <!-- ======= Cta Section ======= -->
    {% include 'cta.html'%}
    <!-- End Cta Section -->

    <!-- ======= Portfolio Section ======= -->
    {% comment %} {% include 'portfolio.html'%} {% endcomment %}
    <!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    {% comment %} {% include 'team.html'%} {% endcomment %}
    <!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    {%include 'contact.html'%}
    <!-- End Contact Section -->
    {%include 'footer.html'%}
    
  </main><!-- End #main -->
{%endblock%}
