{%extends 'base_blog.html'%}
{%load static%}
{%block 'content_post'%}    

<div>
	
	

		<!-- Hero Section -->
	  <div class="container" id="hero">
	  	<div class="row justify-content-end">
	  		<div class="col-lg-6 hero-img-container">
	  			<div class="hero-img">
	  				<!-- hero img -->
	  				<img src="{{item.imagem_post.url}}">
	  			</div>
	  		</div>	  		

	  		<div class="col-lg-9">
	  			<div class="hero-title">
	  				<h1>{{item.titulo}}</h1>
	  			</div>

	  		</div>
	  		<!-- hero meta -->
	  		<div class="col-lg-6">
	  			<div class="hero-meta">
	  				<div class="author">
	  					<!-- <div class="author-img"><img src="./img/author-img.png"></div> -->
	  					<div class="author-meta">
	  					<span class="author-name"></span>
	  					<span class="author-tag">{{item.subtitulo}}</span>
	  					</div>	
	  				</div>
	  				<span class="date mt-2">{{item.data_publicacao}}</span>
	  				<div class="tags mt-2">
							<!-- <a href=""><span class="badge badge-pill p-2 badge-light">#Travel</span></a>
							<a href="">
							<span class="badge badge-pill p-2 badge-light">#Flight</span></a>
							<a href="">
							<span class="badge badge-pill p-2 badge-light">#Vlogger</span></a> -->
	  				</div>
	  			</div>
	  		</div>
	  	</div>
	  </div>
</div>


<!-- Content -->
<div class="container mt-5" id="content">
	<div class="row justify-content-center">
		<!-- Share buttons -->
		<div class="col-lg-1 text-left mb-3 fixed" id="social-share">
			<a class="btn  btn-light m-2" href="#"><i class="fab fa-facebook-f"></i></a>
			<a class="btn  btn-light m-2" href="#"><i class="fab fa-google"></i></a>
			<a class="btn  btn-light m-2" href="#"><i class="fab fa-twitter"></i></a>
		</div>

		<!-- the content -->
		<div class="col-xl-7 col-lg-10 col-md-12">
			<p class="lead">{{item.texto| safe}}</p>
			<a href="{%url 'blog'%}#article-grid">Veja Todos os Temas</a>
		</div>

		<div class="col-lg-10 mt-3">
			<hr>
		</div>
	</div>
</div>


<!-- Related Article Grid -->

<div class="container mt-3 mb-5" id="article-grid">
	<div class="row">
		{%for post in posts%}
		<div class="col-xl-6 col-lg-12 text-center">
			<a href="{% url 'detalhes_item' post.titulo %}">
			<div class="article-card">
			<div class="article-img">
				<img src="{{ post.imagem_post.url}}">
			</div>
				<div class="article-meta text-left">
					<h2>{{post.titulo}}</h2>
					<p>{{post.subtitulo}}</p>
				</div>
			</div>
			</a>
		</div>
		{% endfor %}
		

	</div>
</div>

<!-- Footer section  -->



{%endblock%}