<section id="topbar" class="d-flex align-items-center" style='background-color:#d3d3d3;'>
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope-fill"></i><a href="mailto:contato@ciaseniorcuidar.com.br">contato@ciaseniorcuidar.com.br</a>
        <i class="bi bi-phone-fill phone-icon"><a href="https://api.whatsapp.com/send?phone=5583991589245&text=Ol%C3%A1,%20gostaria%20de%20mais%20detalhes." target="blank">83 9 91589245</a></i>
      </div>
      <div class="social-links d-none d-md-block">
        <a href="#" class="facebook"><i class="bi bi-youtube"></i></a>
        <a href="https://www.instagram.com/ciaseniorcuidar/" target="blank" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section>